body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    user-select: none;
}
main {
    padding: 1rem;
    margin: auto;
    width: fit-content;
}
canvas {
    border-radius: 10px;
}
.game-info {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    font-family: system-ui;
    padding: 1rem;
}
#p5_loading {
    font-family: system-ui;
    font-size: 3rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
